.date-picker-wrapper {
    display: flex;
    justify-content: center; /* căn giữa toàn bộ */
    /* Không cần gap ở đây vì gap tạo bên trong .rdrMonths */
  }
  
  .rdrMonths {
    display: flex;
    gap: 100px; /* khoảng cách giữa 2 bảng */
    justify-content: center; /* căn giữa 2 bảng lịch */
    width: fit-content; /* chỉ chiếm đúng kích thước nội dung */
    margin: 0 auto; /* căn giữa cả container */
  }
    
  
  