/* MainLayout.css */
.ant-menu-item-selected {
  background-color: #e91e63 !important; /* Custom color for selected item */
  color: #fff !important;
}

.ant-menu-item-selected:hover {
  background-color: #d81b60 !important; /* Darker shade on hover */
}

.ant-menu-item a {
  color: #fff !important; /* Ensures link color stays white */
}
