.important-notes {
  max-width: 1000px;
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  padding: 2rem;
  border-radius: 10px;
}


.section-title {
  text-align: center;
  color: #dc2626;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.info-card {
  background-color: #fff5f5; /* nền đỏ sữa dịu */
  border: 1px solid #ef4444; /* đỏ trung tính */
  margin-bottom: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.info-title {
  color: #dc2626  ;
  font-size: 18px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

.notes-section-title{
  color: red;
}

