/* Overlay full màn hình */
.loading-overlay {
    position: fixed; /* phủ full màn hình */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  
    background-color: rgba(0,0,0,0.3); /* nền mờ đen */
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 9999; /* ưu tiên trên tất cả */
  }
  
  /* Spinner quay */
  .spinner {
    border: 8px solid #f3f3f3; /* màu nền */
    border-top: 8px solid #3498db; /* màu thanh quay */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.2s linear infinite;
  }
  
  /* Keyframe quay */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  